/*
	Dark Slate Blue #2C587F
	Midnight Blue #1F3150
	Tan #CEB39B
	Gray #867374
	Light Slate Gray #93A19E
*/
* {
	margin: 0;
	padding: 0;
	outline: none;
    color: inherit;
	font-family: inherit;
	box-sizing: border-box;
}
/* :root {
} */
body {

    --dark: #333;
    --light: #eee;
    --white: #f7f7f7;
    --yellow: #fff565;
    --accent-one: #657c8f;
    --accent-two: #82adae;
    --accent-three: #fcf36a;
    --accent-dark: #143b43;

    --w: #eee;
    --g: #666;
    --b6: rgba(20, 59, 67, 0.6);
    --b9: rgba(20, 59, 67, 0.9);

	font-size: 16px;
	font-family: 'Lato';

	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: var(--white);

}
h1, h2, h3 {
	font-weight: normal;
	font-family: 'Cinzel', sans-serif;
}
h1 {
    font-size: 3rem;
    color: var(--accent-one);
}
h2 {
    font-size: 2rem;
    font-weight: lighter;
}
h3 {
    font-size: 1.6rem;
    color: var(--dark);
    margin-bottom: 1rem;
    font-weight: lighter;
    text-transform: capitalize;
	font-family: 'Lato';
}
p, a, li, label {
    color: inherit;
    font-size: 1.1rem;
    line-height: 1.4rem;
}
header {
    width: 100%;
}
img {
    width: 100%;
}
form {
    width: 100%;
	padding: 1rem;
	border-radius: 6px;
	border-left: 6px solid #d9ded9;
	background-color: #ffffff;
}
input, textarea {
    width: 100%;
    padding: 6px;
    border: none;
    background: none;
    border-bottom: 1px solid #d9ded9;
}
form > div {
    text-align: left;
    margin: 1rem auto;
}
form label {
    display: block;
    color: var(--g);
    text-align: left;
    margin-left: 3px;
	margin-top: 1rem;
    text-transform: capitalize;
}
form h1 {
	margin: 0;
}
section {
	display: flex;
	min-height: 100vh;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
article {
	margin: auto;
    padding: 3vh 3vw;
    max-width: 1200px;
}
.logo {
    left: 3vw;
    z-index: 1;
    margin: auto;
    font-size: 5rem;
    position: absolute;
    text-align: center;
    border-radius: 6px;
    padding-left: 2rem;
	font-family: 'Loto';
    padding-right: 2rem;
    color: var(--accent-one);
    background: var(--white);
    border: 3px solid var(--accent-one);
}
.phone {
    top: 3vh;
    right: 3vw;
    z-index: 1;
    padding: 6px;
	color: white;
    margin: auto;
    font-size: 1rem;
    position: absolute;
    text-align: center;
    align-items: center;
	font-family: 'Loto';
}
.phone a {
    text-decoration: none;
}
.phone span {
    font-size: 1.4rem;
	font-family: inherit;
    vertical-align: middle;
}
.phone object {
    height: 2.3rem;
    border-radius: 6px;
    vertical-align: middle;
    background-color: currentColor;
    border: 3px solid var(--accent-one);
}
.main {
    height: 80vh;
	display: flex;

    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: right;
    border-top: 12px solid var(--accent-one);
    background-image: url('https://res.cloudinary.com/dbc2wlvk8/image/upload/e_art:fes/v1552326976/heritage-oaks/andrew-seaman-1372319-unsplash.jpg');
}
.main span {
    font-weight: bold;
	color: white;
	font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.main-content {
	width: 100%;
	height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    padding-left: 3rem;
    padding-bottom: 3rem;

    /* border-left: 3px solid var(--accent-two); */
    background: linear-gradient(195deg, transparent 50%, rgba(101, 124, 143, 0.8) 70%);
}
.main-content > * {
	padding-left: 1rem;
	/* border-left: 3px solid var(--accent-two); */
	border-left: 3px solid white;

}
.main > div h1, .main > div h2{
    color: white;
    text-shadow: 1px 1px 3px var(--dark);
}

.button {
	display: block;
	background-color: var(--accent-one);
	margin-top: 1rem;
	padding: 1rem;
	width: initial;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	border-radius: 3px;
}
.button:hover {
	cursor: pointer;
}

footer {
	/* background-color: var(--accent-one); */
	/* background-color: var(--accent-two); */
	/* background-color: var(--accent-three); */
	/* background-color: var(--accent-dark); */
	background-color: #eceaea;
}
