:root {

    --dark: #333;
    --light: #eee;
    --white: #f7f7f7;
    --yellow: #fff565;
    --accent-one: #657c8f;
    --accent-two: #82adae;
    --accent-three: #fcf36a;
    --accent-dark: #143b43;

    --w: #eee;
    --g: #666;
    --b6: rgba(20, 59, 67, 0.6);
    --b9: rgba(20, 59, 67, 0.9);
}
* {
	margin: 0;
	padding: 0;
	outline: none;
    color: inherit;
	font-size: 16px;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
    transition:
        150ms ease color,
        150ms ease box-shadow,
        150ms ease border-color,
        150ms ease background-color;
}
body, html {
	overflow-x: hidden;
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: var(--white);
}
h1 {
    font-size: 3rem;
    color: var(--accent-one);
}
h2 {
    font-size: 2rem;
    font-weight: lighter;
}
p, li, a, label {
    font-size: 0.9rem;
    font-weight: lighter;
    line-height: 1.3rem;
}
header {
    width: 100%;
}
img {
    width: 100%;
}
section {
    max-width: 1200px;
    padding: 3vw;
    margin: auto;
    text-align: center;
}
section h1 {
    margin-bottom: 12px;
}
form {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 6px;
    border: 3px solid #d9ded9;
    width: 100%;
}
form input {
    background: none;
    border: none;
    border-bottom: 1px solid var(--g)
}
form label {
    display: block;
    color: var(--g);
    text-align: left;
    margin-left: 3px;
}
.logo {
    border-radius: 6px;
    background: var(--white);
    left: 3vw;
    position: absolute;
    padding-left: 2rem;
    padding-right: 2rem;
    z-index: 1;
    border: 3px solid var(--accent-one);
    margin: auto;
    text-align: center;
    font-size: 5rem;
    color: var(--accent-one);
}
.number {
    right: 3vw;
    top: 3vh;
    position: absolute;
    z-index: 1;
    margin: auto;
    text-align: center;
    font-size: 1rem;
    color: white;
    align-items: center;
    padding: 6px;
    border-left: 3px solid var(--accent-two);
}
.number a {
    text-decoration: none;
}
.number span {
    font-size: 1.3rem;
}
.number object {
    height: 1.6rem;
    fill: white;
}
.main {
    background-image: url('https://res.cloudinary.com/dbc2wlvk8/image/upload/e_art:fes/v1552326976/heritage-oaks/andrew-seaman-1372319-unsplash.jpg');
    height: 80vh;
    overflow: hidden;
    background-size: cover;
    background-position: right;
    position: relative;
    border-top: 12px solid var(--accent-one);
    /*background: linear-gradient(to bottom, #000 0%, transparent 100%);*/
}
.main span {
    color: var(--accent-two);
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.main > div {
    padding: 1rem;
    border-left: 3px solid var(--accent-two);
    margin-left: 3vw;
    margin-top: 57vh;
}
.main > div h1, .main > div h2{
    color: white;
    text-shadow: 1px 1px 3px var(--dark);
}
