* {
	margin: 0;
	padding: 0;
	outline: none;
	color: inherit;
	font-family: inherit;
	box-sizing: border-box;
	scroll-behavior: smooth;

}

html,
body {
	max-width: 100%;
}

body {

	--dark: #333;
	--light: #eee;
	--white: #f7f7f7;
	--light-blue: #788490;
	--dark-blue: #43515E;
	--light-green: #c0d4c9;

	--w: #eee;
	--g: #666;
	--b6: rgba(20, 59, 67, 0.6);
	--b9: rgba(20, 59, 67, 0.9);

	font-size: 16px;
	font-family: 'Lato', sans-serif;

	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: var(--white);

}

h1,
h2,
h3 {
	font-weight: normal;
	font-family: 'Cinzel', serif;
}

h1 {
	font-size: 3rem;
	color: var(--dark-blue);
}

h2 {
	font-size: 2.3rem;
	font-weight: lighter;
}

h3 {
	font-size: 1.6rem;
	color: var(--dark);
	margin-bottom: 1rem;
	font-weight: lighter;
	text-transform: capitalize;
	font-family: 'Lato';
}

h4 {
	font-size: 1.4rem;
	color: var(--dark);
	margin-bottom: 6px;
	text-transform: capitalize;
	font-family: 'Lato';
}

p,
a,
li,
label {
	color: inherit;
	font-size: 1.1rem;
	line-height: 1.6rem;
	margin-bottom: 1.1rem;
}

p {
	margin: 1rem auto;
}

li {
	list-style-position: inside;
	list-style: none;
}

header {
	position: fixed;
	flex-wrap: wrap;

	background-color: white;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 1vh 3vw;
	z-index: 1;
}

main {
	margin-top: 116px;
}

.footer {
	width: 100%;
	background: white;
	padding: 3vh 6vw;
}

footer {
	background-color: #eceaea;
}

img {
	width: 100%;
}

section {
	display: flex;
	min-height: 100vh;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

article {
	margin: auto;
	padding: 3vh 3vw;
	max-width: 1200px;
}

article h1 {
	margin: 4vh 0;
}

hr {
	border: 0;
	height: 1px;
	margin: 2rem auto;
	background: #333;
	background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.logo {
	width: 10rem;
	max-height: 150px;
	display: flex;
	/* padding: 3px;
    border-radius: 3px;
	display: inline-block;
    color: var(--light-blue);
	background-color: white;
	border: 1px solid var(--light-blue); */
}

.logo object {
	width: 100%;
	pointer-events: none;
}

.logo-icon {
	font-size: 5rem;
	text-align: center;
	padding-left: 2rem;
	padding-right: 2rem;
	font-family: 'Loto';

	color: inherit;

	border-width: 2px;
	border-style: solid;
	border-color: inherit;
	border-radius: inherit;

	background-color: inherit;
	/* text-shadow: 1px 1px 2px var(--dark); */
}

/* menu */
.menu {
	display: flex;
	position: relative;
	flex-direction: row;
}

.menu .icon {
	margin: 0 0.5rem;
	text-align: center;
	font-size: 12px;
}

.menu .icon a {
	font-size: 12px;
	line-height: initial;
	margin-bottom: initial;
	text-decoration: none;
}

.menu .icon object {
	pointer-events: none;
}

.menu.active {
	right: 0;
}

.menu.active .drawer {
	transform: translate(0, 0);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.menu-icon-open {
	width: 3rem;
	height: 27px;
	cursor: pointer;
	position: relative;
}

.menu-icon-open:before {
	left: 0;
	top: 20%;
	width: 100%;
	content: '';
	position: absolute;
	border-top: 0.2rem solid var(--dark-blue);
}

.menu-icon-open:after {
	left: 0;
	width: 100%;
	bottom: 20%;
	content: '';
	position: absolute;
	border-bottom: 0.2rem solid var(--dark-blue);
}

.menu-icon-close {
	width: 3rem;
	height: 2rem;
	margin: 2rem;
	cursor: pointer;
	position: relative;
}

.menu-icon-close:before {
	left: 0;
	width: 100%;
	content: '';
	position: absolute;
	top: calc(50% - 0.15em);
	transform: rotate(45deg);
	border-top: 0.2rem solid var(--dark-blue);
}

.menu-icon-close:after {
	left: 0;
	width: 100%;
	content: '';
	position: absolute;
	bottom: calc(50% - 0.15em);
	transform: rotate(-45deg);
	border-bottom: 0.2rem solid var(--dark-blue);
}

.menu .drawer {
	top: 0;
	right: 0;
	z-index: 1;
	height: 100%;
	position: fixed;
	padding-right: 3rem;
	flex-direction: column;
	background-color: white;
	transform: translate(100%, 0);
}

.menu .drawer>a {
	display: block;
	padding: 1rem;
	padding-right: 3rem;
	text-decoration: none;
}

.menu .drawer>a:hover {
	background-color: lightgrey;
}

/* menu */
.phone {
	font-size: 1rem;
	text-align: right;
	display: inline-block;
	font-family: 'Cinzel';
	color: var(--dark-blue);
}

.phone a {
	text-decoration: none;
}

.phone span {
	font-size: 1.4rem;
	font-family: inherit;
	vertical-align: middle;
	/* text-shadow: 1px 1px 3px var(--dark); */
}

.phone object {
	/* height: 30px; */
	border-radius: 1px;
	vertical-align: middle;
	/* border: 3px solid var(--light-blue); */
}

.phone-border {
	padding: 3px;
	display: inline-block;
	/* border-radius: 1px;
	background-color: white;
    border: 3px solid var(--light-blue); */
}

.top {
	width: 100%;
	height: 500px;
	display: flex;
	padding: 1rem;
	text-align: center;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: var(--light-blue);
}

.top h1,
.top h2 {
	color: white;
}

.top h1 {
	margin-bottom: 1rem;
}

.main {
	color: white;
	height: 85vh;
	background: white;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.main .slide {
	opacity: 0;
	width: initial;
	align-self: center;
	justify-self: center;
	flex-direction: column;
	transition: opacity 2s;
	position: absolute;
	max-width: 1920px;
}

.main .slide.active {
	opacity: 1;
}

.main>div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 100%;
	max-width: 1920px;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;

	padding-left: 3rem;
	padding-bottom: 3rem;

	background: linear-gradient(195deg, transparent 50%, rgba(120, 132, 144, 0.8) 70%);
}

.main>div h1 {
	font-size: 6rem;
	color: white;
}

.main>div h2 {
	font-size: 2rem;
}

.button {
	/* display: block; */
	background-color: var(--light-blue);
	margin-top: 1rem;
	padding: 1rem;
	width: 120px;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	border-radius: 3px;
	text-decoration: none;
}

.button:hover {
	cursor: pointer;
}

.button.flat {
	background-color: rgba(120, 132, 144, 0.1);
	color: var(--light-blue);
	width: inherit;
	border: 1px solid white;
}

.button.flat:hover {
	border: 1px solid var(--dark-blue);
}

.post {
	display: flex;
	position: relative;
	/* padding-left: 2rem; */
	/* margin-left: 1.5rem; */
	align-items: center;
	padding-bottom: 2rem;
	justify-content: center;
	/* border-left: 2px solid #e8e8e8; */
}

.post img {
	border-radius: 6px;
}

.post a {
	top: 0;
	right: 0;
	color: white;
	border: none;
	display: flex;
	cursor: pointer;
	font-size: 1.5rem;
	border-radius: 3px;
	position: absolute;
	align-items: center;
	justify-content: center;
	/* width: calc(100% - 2rem); */
	height: calc(100% - 2rem);
	/* height: 100%; */
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
	transition:
		color 150ms ease-in-out,
		background 150ms ease-in-out;
}

.post:hover a {
	color: rgba(255, 255, 255, 0);
	background: rgba(0, 0, 0, 0);
}

.thumbnail {
	border: 5px solid var(--dark-blue);
}

.form-response {
	font-size: 2rem;
	font-weight: bold;
}

#contact article>div {
	width: 100%;
	padding: 1rem;
	border-radius: 6px;
	background-color: #ffffff;
	border-left: 6px solid #d9ded9;
	text-align: left;
	margin: 1rem auto;
}

#contact h1 {
	margin: 0;
}

input,
textarea {
	width: 100%;
	max-width: 100%;
	padding: 6px;
	border: none;
	background: none;
	border-bottom: 1px solid #d9ded9;
}

label {
	display: block;
	color: var(--g);
	text-align: left;
	margin-left: 3px;
	margin-top: 1rem;
	text-transform: capitalize;
}

#contact article>div>div {
	margin: 1rem;
}

.map {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 300px;
	background-color: var(--light-green);
}

.hide-lg {
	display: none;
}

.hide-sm {
	display: initial;
}

.pillars>div {
	border-left: 1px solid black;
	padding-left: 12px;
}

.pillars>div:nth-child(1) {
	border-left: none;
	padding-left: 12px;
}

.pillars>div h4::before {
	content: '';
	width: 2rem;
	height: 2rem;
	display: inline-block;
	vertical-align: middle;
	background-position: center;
	background-repeat: no-repeat;
}

.pillars>div:nth-child(1) h4::before {
	background-image: url('./assets/accessibility.svg')
}

.pillars>div:nth-child(2) h4::before {
	background-image: url('./assets/heart.svg')
}

.pillars>div:nth-child(3) h4::before {
	background-image: url('./assets/sunny.svg')
}

.tiles {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.tiles>* {
	/* padding: 9vw 4vw; */
	flex: 1 1 50%;
	display: flex;
	/* border-radius: 2px; */
	text-align: center;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.tiles object {
	height: 4rem;
	text-align: center;
}

.tiles h3,
.tiles h2,
.tiles h1 {
	color: white;
	margin-bottom: 1.3rem;
}

.tiles p {
	/* color: white; */
	text-align: left;
	margin: 1rem;
}

.tiles>div {
	min-height: 500px;
}

.main-filter {
	width: 100%;
	height: 100%;
	display: flex;
	text-align: center;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(120, 132, 144, 0.6);
}

.main-filter h1 {
	font-weight: 600;
}

.main-filter h2 {
	font-weight: 300;
}

.main-filter h1,
.main-filter h2,
.main-filter h4 {
	color: var(--white);
	text-shadow: -1px 0px 6px rgba(0, 0, 0, 0.8);
}

.video {
	width: 600px;
	height: 340px;
}

@media screen and (max-width: 600px) {
	.video {
		width: initial;
		height: initial;
		max-width: 400px;
		max-height: 200px;
	}

	.hide-lg {
		display: initial;
	}

	.hide-sm {
		display: none;
	}

	.main>div {
		padding-left: 1rem;
	}

	.main>div h1 {
		font-size: 15vw;
	}

	.main>div h2 {
		font-size: 1.6rem;
	}

	main {
		margin-top: 190px;
	}

	main h1 {
		font-size: 2.6rem;
	}

	main h2 {
		font-size: 2rem;
	}

	main h3 {
		font-size: 1.3rem;
	}

	main h4 {
		font-size: 1.2rem;
	}

	header {
		flex-wrap: wrap;
	}

	.pillars>div {
		border-left: none !important;
		border-bottom: 1px solid black;
		padding-left: 0.5rem !important;
		padding-bottom: 12px;
		padding-top: 12px;
	}

	.pillars>div:nth-last-child(1) {
		border-bottom: none;
		/* padding-left: 12px; */
	}

	.logo {
		order: -1;
		flex: 1 0 100%;
		padding: 1rem;
		flex-direction: row;
		text-align: center;
	}
}