* {
	margin: 0;
	padding: 0;
	outline: none;
    color: inherit;
	font-family: inherit;
	box-sizing: border-box;
}
html, body {
	max-width: 100%;
}
body {

    --dark: #333;
    --light: #eee;
    --white: #f7f7f7;
    --light-blue: #788490;
	--dark-blue: #43515E;

    --w: #eee;
    --g: #666;
    --b6: rgba(20, 59, 67, 0.6);
    --b9: rgba(20, 59, 67, 0.9);

	font-size: 16px;
	font-family: 'Lato', sans-serif;

	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: var(--white);

}
h1, h2, h3 {
	font-weight: normal;
	font-family: 'Cinzel', serif;
}
h1 {
    font-size: 3rem;
    color: var(--dark-blue);
}
h2 {
    font-size: 2.5rem;
    font-weight: lighter;
}
h3 {
    font-size: 1.6rem;
    color: var(--dark);
    margin-bottom: 1rem;
    font-weight: lighter;
    text-transform: capitalize;
	font-family: 'Lato';
}
p, a, li, label {
    color: inherit;
    font-size: 1.1rem;
    line-height: 1.4rem;
	margin-bottom: 1.1rem;
}
header {
	background-color: white;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 1vh 3vw;
}
footer {
	background-color: #eceaea;
}
img {
    width: 100%;
}
form {
    width: 100%;
	padding: 1rem;
	border-radius: 6px;
	background-color: #ffffff;
	border-left: 6px solid #d9ded9;
}
input, textarea {
    width: 100%;
    padding: 6px;
    border: none;
    background: none;
    border-bottom: 1px solid #d9ded9;
}
form > div {
    text-align: left;
    margin: 1rem auto;
}
form label {
    display: block;
    color: var(--g);
    text-align: left;
    margin-left: 3px;
	margin-top: 1rem;
    text-transform: capitalize;
}
form h1 {
	margin: 0;
}
section {
	display: flex;
	min-height: 100vh;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
article {
	margin: auto;
    padding: 3vh 3vw;
    max-width: 1200px;
}
article h1 {
	margin: 4vh 0;
}
.logo {
	width: 6rem;
	/* padding: 3px;
    border-radius: 3px;
	display: inline-block;
    color: var(--light-blue);
	background-color: white;
	border: 1px solid var(--light-blue); */
}
.logo-icon {
    font-size: 5rem;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
	font-family: 'Loto';

	color: inherit;

    border-width: 2px;
	border-style: solid;
	border-color: inherit;
    border-radius: inherit;

    background-color: inherit;
	/* text-shadow: 1px 1px 2px var(--dark); */
}
/* menu */
.menu {
	display: flex;
	position: relative;
	flex-direction: row;
}
.menu.active {
	right: 0;
}
.menu.active .drawer {
	transform: translate(0, 0);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.menu-icon-open {
	width: 3em;
	height: 3em;
	cursor: pointer;
	position: relative;
}
.menu-icon-open:before {
	left: 0;
	top: 20%;
	width: 100%;
	content: '';
	position: absolute;
	border-top: 0.3em solid var(--dark-blue);
}
.menu-icon-open:after {
	left: 0;
	width: 100%;
	bottom: 20%;
	content: '';
	position: absolute;
	border-bottom: 0.3em solid var(--dark-blue);
}

.menu-icon-close {
	width: 3em;
	height: 3em;
	margin: 2rem;
	cursor: pointer;
	position: relative;
}
.menu-icon-close:before {
	left: 0;
	width: 100%;
	content: '';
	position: absolute;
	top: calc(50% - 0.15em);
	transform: rotate(45deg);
	border-top: 0.3em solid var(--dark-blue);
}
.menu-icon-close:after {
	left: 0;
	width: 100%;
	content: '';
	position: absolute;
	bottom: calc(50% - 0.15em);
	transform: rotate(-45deg);
	border-bottom: 0.3em solid var(--dark-blue);
}
.menu .drawer {
	top: 0;
	right: 0;
	z-index: 1;
	height: 100%;
	position: fixed;
	padding-right: 3rem;
	flex-direction: column;
	background-color: white;
	transform: translate(100%, 0);
}
.menu .drawer > a {
	display: block;
	padding: 1rem;
	padding-right: 3rem;
}
.menu .drawer > a:hover {
	background-color: lightgrey;
}
/* menu */
.phone {
    font-size: 1rem;
	text-align: right;
	display: inline-block;
	font-family: 'Cinzel';
	color: var(--dark-blue);
}
.phone a {
    text-decoration: none;
}
.phone span {
    font-size: 1.4rem;
	font-family: inherit;
    vertical-align: middle;
	/* text-shadow: 1px 1px 3px var(--dark); */
}
.phone object {
	/* height: 30px; */
    border-radius: 1px;
    vertical-align: middle;
    /* border: 3px solid var(--light-blue); */
}
.phone-border {
	padding: 3px;
	display: inline-block;
	/* border-radius: 1px;
	background-color: white;
    border: 3px solid var(--light-blue); */
}
.main {
	color: white;
	height: 85vh;
	padding: 0 3vw 3vh 3vw;
	background: white;
    /* border-top:  solid var(--light-blue); */
}
.main span {
    font-weight: bold;
	color: white;
	font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.main-content {
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
	overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center center;
	background-image: url('https://res.cloudinary.com/dbc2wlvk8/image/upload/e_art:fes/v1552326976/heritage-oaks/andrew-seaman-1372319-unsplash.jpg');
}
.main-content > div:nth-child(1) {
	display: inline-block;
	position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.main-content > div:nth-child(2) {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;

	padding-left: 3rem;
	padding-bottom: 3rem;

	/* background-color: rgba(101, 124, 143, 0.4); */
	background: linear-gradient(195deg, transparent 50%, rgba(120, 132, 144, 0.8) 70%);
}
.main-content > div:nth-child(2) > * {
	padding: 12px;
	border-left: 3px solid white;
}
.main-content h1 {
	font-size: 6rem;
	color: white;
}
.main-content h2 {
	font-size: 2rem;
}
.button {
	display: block;
	background-color: var(--light-blue);
	margin-top: 1rem;
	padding: 1rem;
	width: initial;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	border-radius: 3px;
}
.button:hover {
	cursor: pointer;
}


@media screen and (max-width: 700px) {
	.main-content h1 {
		font-size: 15vw;
	}
	.main-content h2 {
		font-size: 1.6rem;
	}
}
